<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="VamMsiInstallerPreferences" Guid="9E8F8A1C-5D9D-4D1E-9D33-0E3D0D9C2B2B" Win64="yes">
        <RegistryValue Root="HKCU" Key="Software\Bruno Del piero\VirtualAudioMix" Name="InstallerStartWithWindows" Type="integer" Value="1" KeyPath="yes" />
        <RegistryValue Root="HKCU" Key="Software\Bruno Del piero\VirtualAudioMix" Name="InstallerAutoStartAudio" Type="integer" Value="1" />
        <RegistryValue Root="HKCU" Key="Software\Bruno Del piero\VirtualAudioMix" Name="InstallerPromptAudioSetup" Type="integer" Value="1" />
        <RegistryValue Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Run" Name="VirtualAudioMix" Type="string" Value="&quot;[INSTALLDIR]virtual-audio-mix.exe&quot;" />
      </Component>
    </DirectoryRef>

    <CustomAction
      Id="InstallBadDriver"
      Directory="INSTALLDIR"
      Execute="deferred"
      Impersonate="no"
      ExeCommand="&quot;[SystemFolder]WindowsPowerShell\v1.0\powershell.exe&quot; -NoProfile -ExecutionPolicy Bypass -File &quot;[INSTALLDIR]resources\installer\install-bad-driver.ps1&quot;"
      Return="check" />

    <CustomAction
      Id="UninstallBadDriver"
      Directory="INSTALLDIR"
      Execute="deferred"
      Impersonate="no"
      ExeCommand="&quot;[SystemFolder]WindowsPowerShell\v1.0\powershell.exe&quot; -NoProfile -ExecutionPolicy Bypass -File &quot;[INSTALLDIR]resources\installer\uninstall-bad-driver.ps1&quot;"
      Return="ignore" />

    <InstallExecuteSequence>
      <Custom Action="InstallBadDriver" After="InstallFiles">NOT Installed AND NOT REMOVE</Custom>
      <Custom Action="UninstallBadDriver" Before="RemoveFiles">REMOVE="ALL" AND NOT UPGRADINGPRODUCTCODE</Custom>
    </InstallExecuteSequence>
  </Fragment>
</Wix>
